*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(../Content/bg-tx-f.jpg) 0 0 no-repeat fixed;
    background-size: cover;
}
body, header, section, footer, aside, nav, main, article, figure,blockquote
{
    display: block;
    width: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-family: titleText;
    text-transform: uppercase;
}
main{
    margin: 10px 15px;
    width: initial;
}
blockquote{
    border-left: 8px solid #336699;
    padding-left: 7px;
    margin: 15px 0;
    font-family: "paragraphText";
}
footer
{
    text-align: center;
    font-family: "paragraphText";
    color: lightblue;
}
hr{
    height: 1px;
    border: 0;
    background-color: #e9e9e9;
}
table,tr,td,th{
    border: 0;
    border-collapse: collapse;
}
/*Background Coloring*/
.bgBlue{
    background-color: #336699;
}
.bgBlack{
    background-color: #333333;
}
.bgWhite{
    background-color: #ffffff;
}
/*Text Coloring*/
ul > li.bgWhite a,
.txtBlue{
    color: #336699;
}
.txtGray{
    color: #333333;
}
.txtWhite > li  a,
.txtWhite{
    color: #e9e9e9;
}
/*Fixed Properties*/
.page{
    width: 1121px;
    margin: 15px auto;
}
.row{
    display: block;
    width: 100%;
}
.clearfix {
    overflow: hidden;
}
.column {
    float: left;
    margin: 0px 5px;
}
.center{
    text-align: center;
}
.centerItem{
    display: block;
    margin: auto;
}
.scrolled{
    scrollbar-base-color: #336699;
    scroll-behavior: smooth;
}
/*nav navbar*/
nav > ul > li{
    width: 71px;
    height: 71px;
    display: inline-block;
    list-style: none !important;
    line-height: 71px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #e9e9e9;
}
nav > ul > li:last-child{
    border: none;
}
ul.navbar-vertical > li > a{
    text-decoration: none !important;
    display: block;
}
.navbar-vertical{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

/*Image Box*/
figure > img{
    width: 100%;
}
figure{
    position: relative;
}
figure > figcaption {
    position: absolute;
    bottom: 2px;
    height: 70px;
    width: 100%;
    background-color: rgba(51, 102, 153, .5);
    text-align: center;
    padding: 8px 0;
    font-family: titleText;
}
.txtUpper{
    text-transform: uppercase;
}
p{
    font-family: paragraphText;
    font-size: 15px;
}
p > small{
    font-size: small;
}
/*Scroll Property*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
    background: #336699; 
}
::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

/*Extra Properties*/
.sideMenuBar{
    width: 71px;
}
.navbar{
    height: 600px;
}
.navbar > ul > li > a{
    display: block;
}
.navbar > ul > li:hover > a{
    background: #ffffff;
    color: #336699;
}
.mainPage {
    width: 700px;
    height: 600px;
    margin: 0 15px;
    box-shadow: 0 0 5px #e9e9e9;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;

}
.sidePage {
    width: 300px;
    height: 600px;
    background-color: #336699;
}
figcaption > h3{
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
}
figcaption > span{
    font-size: 18px;
}
.sidePage p{
    padding: 10px 0;
    margin: 0 10px;
}
.socialLinks{
    display: table;
    margin: 0 auto;
}
.socialLinks > div {
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    color: #e9e9e9;
    margin: 0 2px;
    border: 2px solid #e9e9e9;
}
.socialLinks > div > a{
    color: #e9e9e9;
    display: block;
}
.socialLinks > div:hover > a{
    background: #ffffff;
    color: #336699;
}
.sidePage .marginDown{
    margin-bottom: 1.5pc;
}
.mainPage section > header{
    padding-bottom: 8px;
    border-bottom: 1px solid #e9e9e9;
}
.mainPage section > header > h1{
    font-size: 25px;
    vertical-align: middle;
    display: flex;
    line-height: 40px;
    font-family: headerText;
    font-variant: small-caps;
    text-transform: capitalize;
}
.mainPage section > header > h1 > i{
    font-size: 40px;
}
section > h3.title{
    font-size: 35px;
    color: #336699;
    padding-top: 30px;
}
section > hr.title{
    margin-bottom: 15px;
}
section > table{
    border: 0;
}
section > table tr{
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
    vertical-align: bottom;
}
section > table th{
    color: #336699;
    text-align: left;
    width: 8pc;
    font-family: headerText;
    font-style: italic;
}
section > table td{
    color: #333333;
    font-family: paragraphText;
}