<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MadCoder.info</title>
        <link rel="icon" type="img/png" href="Content/contact-e.png"/>
        <!--Meta Tags-->
        <meta charset="utf-8"/>
        <meta name="description" content="Hi, welcome to MadCoder.info. I'm Sudhananda, a professional .net"/>
        <meta name="keywords" content="HTML,CSS,JavaScript,jQuery"/>
        <meta name="author" content="Sudhananda Biswas"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Style Sheats-->
        <link rel="stylesheet" type="text/css" href="CSS/fonts.css" />
        <link rel="stylesheet" href="Fonts/fa/css/all.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
        
        <!--Popup Box-->
        <link rel="stylesheet" href="plugins/yBox/css/yBox.css">
        <link rel="stylesheet" href="plugins/magnific_popup/magnific-popup.css">

        <link rel="stylesheet" type="text/css" href="CSS/Site.css"/>
        <link rel="stylesheet" type="text/css" href="CSS/responsive.css"/>
        <link rel="stylesheet" href="CSS/portfolio.css">
    </head>

    <body>
        <div class="page" ng-app="myApp">
            <div class="row clearfix">
                <div class="column sideMenuBar">
                    <nav class="navbar navbar-vertical">
                        <ul class="navbar-top txtWhite bgBlue">
                            <li class=""><a href="index.htm"><i class="fas fa-user"></i></a></li>
                            <li class=""><a href="skills.htm" id="btn1"><i class="fas fa-clipboard-list"></i></a></li>
                            <li class="bgWhite"><a href="portfolio.htm"><i class="fas fa-laptop-code"></i></a></li>
                            <li class=""><a href="timeline.htm"><i class="far fa-calendar-alt"></i></a></li>
                            <li class=""><a href="#"><i class="fas fa-envelope"></i></a></li>
                        </ul>
                        <ul class="navbar-bottom txtWhite bgBlack">
                            <li><a href="https://1drv.ms/w/s!An0J0ief7HeKivwxVWB6Ounl_Ug93A?e=A3nSr6"><i class="fas fa-print"></i></a></li>
                            <li><a href="https://1drv.ms/f/s!An0J0ief7HeKnCau5vnS4YJpVtxC"><i class="fas fa-download"></i></a></li>
                        </ul>
                    </nav>
                </div><!--Side Menu Bar-->

                <div class="column mainPage" ng-controller="ctrlProtfolio">
                    <main id="pageIn">
                        <section id="">
                            <header class="txtBlue"><h1><i class="fas fa-plus-circle"></i>&ThickSpace; My Portfolio</h1></header>
                            <!--
                                Right Down Here....
                            -->

                            <article class="galleryView" ng-repeat="list in lists">
                                <header>
                                    <h1>{{list.group}}</h1>
                                </header>
                                <div class="galleryBody">
                                    <div class="galleryBox" ng-repeat="item in list.items">
                                        <img src="{{item.srcImg}}" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="{{item.srcImg}}" title="{{item.heading}}" data-live="{{item.liveLink!='' ? item.liveLink : item.detailLink}}" description="{{item.description}}"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <p class="statusBox" ng-show="!list.items.length">{{list.items.length}} items found.</p>
                                </div> 
                                <footer>
                                    Date: {{list.lastModified}}
                                </footer>
                            </article>
                            <!-- Demo gallery
                            <article class="galleryView" style="display: none;">
                                <header>
                                    <h1>Soft Dev</h1>
                                </header>
                                <div class="galleryBody" id="magnifiGallery">
                                    <div class="galleryBox">
                                        <img src="Content/gallery/img_1.jpg" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="Content/gallery/img_1.jpg" title="Test is good" description="Hello"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="galleryBox">
                                        <img src="Content/gallery/img_3.jpg" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="Content/gallery/img_3.jpg"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="galleryBox">
                                        <img src="Content/gallery/img_1.jpg" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="Content/gallery/img_1.jpg"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="galleryBox">
                                        <img src="Content/gallery/img_2.jpg" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="https://github.com"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="galleryBox">
                                        <img src="Content/gallery/img_1.jpg" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="https://github.com"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="galleryBox" style="display: none;">
                                        <img src="Content/gallery/img_3.jpg" alt="" srcset="">
                                        <div class="overlay">
                                            <a href="https://github.com"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div> 
                                <footer>
                                    Date: 1 Jun, 21
                                </footer>
                            </article>
                            -->
                        </section>
                    </main>
                </div>
                
                <div class="column sidePage" ng-controller="ctrlMe">
                    <section class="">
                        <figure>
                            <img src="{{info.avatar}}" alt="avator">
                            <figcaption class="txtWhite txtUpper">
                                <h3>{{info.fName}}</h3>
                                <span>{{info.designation}}</span>
                            </figcaption>
                        </figure>
                        <p class="txtWhite marginDown">
                            {{info.objective}}
                        </p>
                        <hr class="centerItem" style="width:50%">
                        <p class="txtWhite center"><i class="fas fa-map-marker-alt"></i>&ThickSpace; {{info.address}}</p>
                        <hr class="centerItem marginDown" style="width:50%">
                        <p class="txtWhite center"><small>My Social Link</small></p>
                        <div class="socialLinks">
                            <div title="{{item.title}}" ng-repeat="item in socialLinks"><a href="{{item.link}}" target="_blank" ><i class="{{item.icon}}"></i></a></div>
                            <!--
                            <div title="Facebook"><a href="http://facebook.com/MadCoderBubt" target="_blank" ><i class="fab fa-facebook-f"></i></a></div>
                            <div title="Twitter"><a href="http://twitter.com/shbsovon" target="_blank" ><i class="fab fa-twitter"></i></a></div>
                            <div title="LinkedIn"><a href="http://linkedin.com/in/MadCoder-bubt" target="_blank" ><i class="fab fa-linkedin-in"></i></a></div>
                            <div title="Github"><a href="http://github.com/MadCoderBubt" target="_blank" ><i class="fab fa-github"></i></a></div>
                            <div title="Skype"><a href="skype:shbsovon" target="_blank" ><i class="fab fa-skype"></i></a></div>
                            -->
                        </div>
                    </section>
                </div>

            </div><!--Row-->
            <footer class="">Copyright&copy;2019, MadCoder.Info</footer>
        </div><!--Page-->

        <!--Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
        <!--Popup Box-->
        <script src="plugins/yBox/js/directive.js"></script>
        <script src="plugins/yBox/js/yBox.min.js"></script>
        <script src="plugins/magnific_popup/jquery.magnific-popup.js"></script>

        <script src="js/custom.js"></script>
        <script>
            $(document).ready(function (){

                //load
                //var url = "https://madcoderbubt.github.io/MadCoderPersonal/Data/about.json";
                //$.getJSON(url, function(data){
                //    console.log(data);
                //});

            });

            var app = angular.module('myApp', []);
            app.controller('ctrlProtfolio', function($scope,$http) {
                $scope.info = "";
                $scope.objectives = "";
                var item = null;

                var url = "https://madcoderbubt.github.io/MadCoderPersonal/Data/portfolio.json";
                $http.get(url)
                .then(function(response){
                    $scope.lists = response.data.data;
                    //$scope.objectives = response.data.data.objectives;
                    console.log(response.data.data);
                });
                //console.log($scope.info);


            });
            app.controller('ctrlMe', function($scope,$http) {
                $scope.info = "";
                $scope.objectives = "";
                var item = null;

                var url = "https://madcoderbubt.github.io/MadCoderPersonal/Data/me.json";
                $http.get(url)
                .then(function(response){
                    $scope.info = response.data.data.info;
                    $scope.socialLinks = response.data.data.socialLinks;
                    //console.log(response.data.data);
                });
                //console.log($scope.info);
            });

        </script>
        <script>
            window.onload = function(){
                if(document.querySelector('.yBox')){
                let myYbox = new yBox();
                myYbox.init();
                }
            };
            
            $(document).ready(function() {
                setTimeout(() => {
                    $('.galleryBody').magnificPopup({
                        delegate: 'a',
                        type: 'image',
                        tLoading: 'Loading image #%curr%...',
                        mainClass: 'mfp-img-mobile',
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                        },
                        image: {
                            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                            titleSrc: function(item) {                                
                                let str = (item.el.attr('data-live')==null) ? "" : " <a href='"+item.el.attr('data-live')+"' style='color:lightblue'>Visit</a> ";
                                console.log(str);
                                return item.el.attr('title') 
                                    +  str
                                    + '<small>'+item.el.attr('description')+'</small>';
                            }
                        }
                    });
                }, 1000);
            });
        </script>
    </body>
</html>