<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MadCoder.info</title>
        <link rel="icon" type="img/png" href="Content/MC-logo-c.png"/>
        <!--Meta Tags-->
        <meta charset="utf-8"/>
        <meta name="description" content="Hi, welcome to MadCoder.info. I'm Sudhananda, a professional .net"/>
        <meta name="keywords" content="HTML,CSS,JavaScript,jQuery"/>
        <meta name="author" content="Sudhananda Biswas"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Style Sheats-->
        <link rel="stylesheet" type="text/css" href="CSS/fonts.css" />
        <link rel="stylesheet" href="Fonts/fa/css/all.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="CSS/Site.css"/>
        <link rel="stylesheet" type="text/css" href="CSS/responsive.css"/>
    </head>

    <body>
        <div class="page" ng-app="myApp">
            <div class="row clearfix">
                <div class="column sideMenuBar">
                    <nav class="navbar navbar-vertical">
                        <ul class="navbar-top txtWhite bgBlue">
                            <li class=""><a href="index.htm"><i class="fas fa-user"></i></a></li>
                            <li class="bgWhite"><a href="#" id="btn1"><i class="fas fa-clipboard-list"></i></a></li>
                            <li class=""><a href="portfolio.htm"><i class="fas fa-laptop-code"></i></a></li>
                            <li class=""><a href="timeline.htm"><i class="far fa-calendar-alt"></i></a></li>
                            <li class=""><a href="contact.htm"><i class="fas fa-envelope"></i></a></li>
                        </ul>
                        <ul class="navbar-bottom txtWhite bgBlack">
                            <li><a href="https://1drv.ms/w/s!An0J0ief7HeKivwxVWB6Ounl_Ug93A?e=A3nSr6"><i class="fas fa-print"></i></a></li>
                            <li><a href="" onclick="printResume(this)"><i class="fas fa-download"></i></a></li>
                        </ul>
                    </nav>
                </div><!--Side Menu Bar-->

                <div class="column mainPage" ng-controller="mySkillsCtrl">
                    <main id="pageIn">
                        <section>
                            <header class="txtBlue"><h1><i class="fas fa-plus-circle"></i>&ThickSpace; Professional View</h1></header>

                            <div class="skill_summary">

                                <div class="pie-group" ng-repeat="item in highlights">
                                    <div class="pie" data-percent="{{item.value}}">
                                        <div class="left">
                                            <span></span>
                                        </div>
                                        <div class="right">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="pie-title">
                                        {{item.name}}
                                    </div>
                                </div>
                                <!--
                                <div class="pie-group">
                                    <div class="pie" data-percent="60">
                                        <div class="left">
                                            <span></span>
                                        </div>
                                        <div class="right">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="pie-title">
                                        Data Structure
                                    </div>
                                </div>
                                <div class="pie-group">
                                    <div class="pie" data-percent="78">
                                        <div class="left">
                                            <span></span>
                                        </div>
                                        <div class="right">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="pie-title">
                                        Problem Solving
                                    </div>
                                </div>
                                <div class="pie-group">
                                    <div class="pie" data-percent="35">
                                        <div class="left">
                                            <span></span>
                                        </div>
                                        <div class="right">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="pie-title">
                                        Graphics Design
                                    </div>
                                </div>
                                -->
                            </div>

                            <div class="skill_details">
                                <table class="skills-progress">
                                    <thead>
                                        <tr><th colspan="2">Programming language</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in coreSkills">
                                            <th>{{item.name}} <span>{{item.value}}%</span></th>
                                            <td>
                                                <progress max="100" value="{{item.value}}"></progress>
                                            </td>
                                        </tr>
                                        <!--
                                        <tr>
                                            <th>C++ <span>60%</span></th>
                                            <td>
                                                <progress max="100" value="60"></progress>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>HTML & CSS <span>95%</span></th>
                                            <td>
                                                <progress max="100" value="95"></progress>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>JavaScript <span>40%</span></th>
                                            <td>
                                                <progress max="100" value="40"></progress>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>SQL <span>60%</span></th>
                                            <td>
                                                <progress max="100" value="60"></progress>
                                            </td>
                                        </tr>
                                        -->
                                    </tbody>
                                </table>
                                <table class="skills">
                                    <thead>
                                        <tr><th colspan="2">Additional Skills</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Framework</th>
                                            <th>Others</th>
                                        </tr>
                                        <tr ng-repeat="item in addSkills.DevFrameworks">
                                            <td>{{item.name}}</td>
                                            <td>{{addSkills.GraphicsDesign[$index].name}}</td>
                                        </tr>
                                        <!--
                                        <tr>
                                            <td>ASP MVC (EF)</td>
                                            <td>MS Office 16</td>
                                        </tr>
                                        <tr>
                                            <td>jQuery</td>
                                            <td></td>
                                        </tr>
                                        -->
                                    </tbody>
                                </table>
                            </div>
                            
                        </section>
                    </main>
                </div>

                <div class="column sidePage" ng-controller="ctrlMe">
                    <section class="">
                        <figure>
                            <img src="{{info.avatar}}" alt="avator">
                            <figcaption class="txtWhite txtUpper">
                                <h3>{{info.fName}}</h3>
                                <span>{{info.designation}}</span>
                            </figcaption>
                        </figure>
                        <p class="txtWhite marginDown">
                            {{info.objective}}
                        </p>
                        <hr class="centerItem" style="width:50%">
                        <p class="txtWhite center"><i class="fas fa-map-marker-alt"></i>&ThickSpace; {{info.address}}</p>
                        <hr class="centerItem marginDown" style="width:50%">
                        <p class="txtWhite center"><small>My Social Link</small></p>
                        <div class="socialLinks">
                            <div title="{{item.title}}" ng-repeat="item in socialLinks"><a href="{{item.link}}" target="_blank" ><i class="{{item.icon}}"></i></a></div>
                            <!--
                            <div title="Facebook"><a href="http://facebook.com/MadCoderBubt" target="_blank" ><i class="fab fa-facebook-f"></i></a></div>
                            <div title="Twitter"><a href="http://twitter.com/shbsovon" target="_blank" ><i class="fab fa-twitter"></i></a></div>
                            <div title="LinkedIn"><a href="http://linkedin.com/in/MadCoder-bubt" target="_blank" ><i class="fab fa-linkedin-in"></i></a></div>
                            <div title="Github"><a href="http://github.com/MadCoderBubt" target="_blank" ><i class="fab fa-github"></i></a></div>
                            <div title="Skype"><a href="skype:shbsovon" target="_blank" ><i class="fab fa-skype"></i></a></div>
                            -->
                        </div>
                    </section>
                </div>
                
            </div><!--Row-->
            <footer class="">Copyright&copy;2019, MadCoder.Info</footer>
        </div><!--Page-->

        <!--Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="js/myApp.js"></script>
        <script src="js/custom.js"></script>
        <script>
            $(document).ready(function (){

                //load
                //var url = "https://madcoderbubt.github.io/MadCoderPersonal/Data/about.json";
                //$.getJSON(url, function(data){
                //    console.log(data);
                //});

            });
/*
            var app = angular.module('myApp', [])
                .config(['$compileProvider', function ($compileProvider) {
                    $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|skype|javascript):/);
                }]);


                app.controller('mySkillsCtrl', function($scope,$http) {
                    $scope.info = "";
                    $scope.objectives = "";
                    var item = null;

                    var url = "https://madcoderbubt.github.io/MadCoderPersonal/Data/skills.json";
                    $http.get(url)
                    .then(function(response){
                        $scope.highlights = response.data.skillHighlight;
                        $scope.coreSkills = response.data.coreSkills;
                        $scope.addSkills = response.data.additionalSkills;
                        //console.log(response.data.data);
                    });
                    //console.log($scope.info);
                });

                app.controller('ctrlMe', function($scope,$http) {
                    $scope.info = "";
                    $scope.objectives = "";
                    var item = null;

                    var url = "https://madcoderbubt.github.io/MadCoderPersonal/Data/me.json";
                    $http.get(url)
                    .then(function(response){
                        $scope.info = response.data.data.info;
                        $scope.socialLinks = response.data.data.socialLinks;
                        //console.log(response.data.data);
                    });
                    //console.log($scope.info);
                });

*/
        </script>
    </body>
</html>